header {
    background-color: #81bddf;
}

footer {
    background-color: #364049;
}

.leadr-logo {
    color: aliceblue;
    font-family: cursive;
}

.nav-bar-btn {
    color: aliceblue;
    background-color: black;
}

.second-section {
    background-color: #5da1ce;
}